#root {
    --screen-size: ((100vw - 320px) / 760)
}

.about-our-school {
    width: calc(100vw-40px);
    margin: 50px 20px 0 20px;
}

.about-our-school p {
    font-size: 20px;
}

.top-content {
    display: flex;
    flex-direction: column-reverse;
}

.text-at-the-top {
    display: none;
}

.classroom-img {
    margin: 20px 0 10px 0;
    height: clamp(149px, calc(149px + 120*var(--screen-size)), 269px);
    width: clamp(280px, calc(280px + 226*var(--screen-size)), 506px);
    border-radius: 2px;
    align-self: center;
}

.top-content-text > img {
    display: none;
}

.about-our-school-title {
    text-transform:uppercase;
    font-weight: 700;
    font-size: 32px;
    color: #001489;
    margin: 20px 0;
}

.about-our-school > p{
    margin-top: 10px;
}

.data-content-wrapper-about-us {
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    align-items: center;

}

.top-content-text > p, .text-at-the-bottom {
    line-height: 135%;
    
}


.data-content-wrapper-about-us > div {
    width: 55%;
    height: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: baseline;
    flex-direction: column;
    vertical-align: top;
}

.data-content-wrapper-about-us > div > img:not(.student-reading) {
    width: 45%;
}

.student-reading {
    width: 30%;
}

.data-content-wrapper-about-us > div > h2 {
    color: #001489;
    font-weight: 700;
    font-size: 26px;
    margin: 5px 0;
    white-space: nowrap;

}

.hr-about-our-school{
    border-top: 4px solid #5E60E6;
    width: 146px;
    margin-left: -20px;
}

.data-content-wrapper-about-us p {
    margin-bottom: 0;
}

@media only screen and (min-width: 700px) {
    .data-content-wrapper-about-us {
        justify-content: space-between;
    }
    .data-content-wrapper-about-us > div {
        width: 45%;

    }

    .top-content-text > .data-content-wrapper-about-us {
        display: none;
    }
    .about-our-school > .data-content-wrapper-about-us {
        display: flex;
        margin-top: 40px;
    }

    .top-content {
        flex-direction: row;
    }

    .top-content > img {
        display: none;

    }

    .top-content-text > img {
        display: none;
        margin-top: 0;
    }

    .classroom-img {
        float: left;
        margin-right: 15px;
        margin-bottom: 0;

    }

    .data-content-wrapper-about-us > div {
        width: 20%;
        height: fit-content;
    } 


}

@media screen and (min-width:800px)  {
    .text-at-the-top {
        display: block;
    }

    .text-at-the-bottom {
        display: none;
    }

    .classroom-img {
        float: left;
    }
    
}