.footer{
  position: relative;
  background-color: #001489;
  display: flex;
  margin-top: 60px;
  padding: 30px;
  min-height: 300px;
  color: white;
  bottom: 0;
  width: 100%;
  height: 20vh;
}
.logo-footer{
  height: 130px;
}
.footer-menu{
  display: flex;
  font-weight: 700;
  font-size: 18px;
  
  width: calc(100vw - 40px);
  height: 80%;
  justify-content: space-around;
  
}
.footer-menu > a, .about-us-footer > a, .collaborator-footer > a{
  text-decoration: none;
}
.footer-line{

  border-top: 2.5px solid;
  width: 95%;
  text-align: right;
  position: absolute;
  bottom: 0;
  padding-top: 15px;
  margin-bottom: 20px;
}
.link-social{
  color: white;
  text-decoration: none;
}
.footer-menu > a, .footer-menu > li > ul> a{
  color: white;
  height: fit-content;
  transition: all .2s ease-in-out;
}
.footer-menu > a:hover, .footer-menu > li > ul> a:hover{
  color: #dadadac9;
}
.social-icons{
  display: flex;
  text-align: center;
  font-size: 22px;
  margin-top: 7px;
  width: fit-content;
}
.social-icon{
  margin-right: 5px;
}
.about-us-footer, .collaborator-footer{
  font-weight: 400;
}
.about-us-footer > a > .item-footer{
  margin: 7px 0px;
}
.collaborator-footer > a > .item-footer{
  margin: 7px 0px;
}
.item-footer{
  width: fit-content;
}
.social{
  width: fit-content;
}
@media only screen and (max-width: 1250px){
  .footer, .footer-menu{
    flex-direction: column;
    flex-wrap: wrap;
    
  }
  .logo-footer{
    display: none;
    
  }
  @media only screen and (max-width: 660px){
    .footer{
      height: max-content;
      padding: 15px;
      
    }
    .footer-menu{
      align-items: center;
      text-align: center;
      font-size: 12px;
    }
    .about-us-footer{
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
    }
    .collaborator-footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
    }
    .about-us-footer > a > .item-footer{
      margin: 3px;
    }
    .item-footer{
      margin-bottom: 15px;
    }
    .footer-line{
      font-size: 12px;
      padding-bottom: 8px;
      margin: 0px 0px 5px;
      margin-left: -8px;
    }
    .social-icons{
      font-size: 15px;
      margin-top: 8px;
    }
    .social{
      color: transparent;
    }
    .social-icons{
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 10px;
      margin-left: 15px;
    }
    @media only screen and (max-width: 400px){
      .footer-line{
        font-size: 8px;
      }
    }
  }
}
