@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.nav-wrapper {
  background-color: #001489;
  position: absolute;
  height: 90px;
  width: 100%;
  box-shadow: 5px 5px 25px rgb(12, 1, 65);
  z-index: 98;
  color: white;
}
.nav {
  width: calc(100%-40px);
  height: 90px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo-wrapper {
  height: 50%;
}

.logo {
  height: 100%;
}

.burguer-button {
  background: none;
  border: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 30px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.hamburguer-menu {
  width: 40px;
  height: 6px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu {
  z-index: 100;
  width: 100%;
  position:absolute;
  right: 0;
  padding: 0 20px;
  flex-direction: column;
  background: #001489;
  transition: all 2s linear;
  line-height: 1.5;
  overflow:hidden;
  max-height: 0px;
  transition: max-height 1s ease-in-out;
}

.menu >li {
  
  padding: 5px;
  padding-left: 40px;
  border-radius: 2px 5px;
  width: fit-content;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  cursor: context-menu;
  transition: all .3s ease-in-out;
}

.hr{
  width: 40px;
  margin: 0;
  margin-left: -50px;
  height: .5px;
  border-top: 3px solid transparent;
  z-index: 101;
  transition: all 0.3s ease-in-out;
}


.menu-item:hover ~ .hr{
  border-color: #8284ff;
  margin-left: 0px;
}

.admission.menu-item:hover ~ .hr{
  border-color: #ab8200;
  margin-left: 0px;
}

.menu-aberto.ret-top{
  transform: rotate(45deg) translate(10px,10px);
}

.menu-aberto.ret-middle{
  transform: translateX(-50px);
  background: transparent;
  pointer-events: none;
}

.menu-aberto.ret-bottom{
  transform: rotate(-45deg) translate(5px, -5px);
}



.about-us-container, .collaborator-container {
  flex-direction: column;
  justify-content: space-between;
}

.submenu {
  display: flex;
  padding: 0 2.5px ;
  margin-left: 20px;
  flex-direction: column;
  transition: all 0.5s ease-out;
  overflow:hidden;
  max-height: 0px;
  transition: max-height 1s ease-in-out;
  cursor: context-menu;
}

.title-submenu {
  width: fit-content;
  cursor: pointer;
}

li > ul > li {
  width: 100%;
}

li > ul > li > a {
  min-width: 200px;
  font-size: 16px;
  cursor: pointer;
}

.lock-icon {
  margin-right: 5px;
}


a.menu-item {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.menu > li > a {
  font-weight: 700;
}

.menu > li > .admission {
  color: #F7BF0A; 
}

p.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevron-right {
  transition: all 0.2s ease-in-out;
}

.turned {
  transform: rotate(90deg)
}


.aberto {
  max-height: 1000px;
}

@media only screen and (min-width: 1000px) {

  .nav-wrapper {
    background-color: #001489;
    display: flex;
    justify-content: space-between;
  }

 .burguer-button {
    display: none;
  }


  .menu {
    position: static;
    max-height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 0 40px 0 0;
    justify-content: space-between;
  }

  .menu >li {
    padding: 0;
  }

  .submenu {
    margin-left: 0;
    max-height: 0px;
    position: absolute;
    max-width: 125px;
    height: fit-content;
    border-radius: 0px 0 5px 5px;
    background-color: var(--main-blue3);
  }

  .title-submenu {
    cursor: context-menu;
  }

  .about-us-container:hover .chevron-right {
    transform: rotate(90deg)
  }

  .collaborator-container:hover .chevron-right {
    transform: rotate(90deg)
  }

  .about-us-container:hover > .submenu {
    max-height: 1000px;

  }
  
  .collaborator-container:hover > .submenu {
    max-height: 1000px;
  }

  

  .menu-item {
    height: fit-content;
    width: fit-content;
  }

}
.nav-home{
  position: fixed;
}


