.come-make-history {
    padding: 0 20px;
    margin-top: 60px;
}

.come-make-history > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first-content-container  > img {
    display: none;
}
.first-content-container{
    margin-bottom: 40px;
}
.first-content-container > div > img {
    width: 75%;
    margin: 10px auto;
}

.first-content-container > div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.first-content-container > div > h1 {
    line-height: 112.5%;
    /* font-size: 1rem; */
    font-weight: bold;
    color: #001489; 
}

.first-content-container > div > p {
    line-height: 125%;
    margin: 10px 0;
}

.come-make-history > div > div > a {
    align-self: center;
    text-align: center;
    padding:  clamp(7px,5%, 15px) clamp(7px,10%, 25px);
    width: fit-content;
    text-decoration: none;
    font-size: clamp(15px, calc(15px + 9 * ((100vw - 320px) / 760)), 24px);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;   
    color: white;
    background-color: #0A2EEF;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.come-make-history > div > div > a:hover {
    background-color: #2445ff;
    color: #dbdada;
}

.second-content-container {
    margin: 0 -20px;
    margin-top: 10px;
    height: fit-content;
    padding: 20px;
    background-color: #6668DA;
    color: white;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.second-content-container > div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
}

.second-content-container > div > h1 {
    /* font-size: 0.875rem; */
    font-weight: bold;
}

.second-content-container > div > p {
    /* font-size: 0.625rem; */
    min-height: 30px;

}

.come-make-history > div > div > p {
    font-size: clamp(16px, calc(16px + 6 * ((100vw - 320px) / 760)),22px)
}

.first-content-container > div > h1 {
    font-size: clamp(24px, calc(24px + 8 * ((100vw - 320px) / 760)), 32px);
}

.second-content-container > div > h1 {
    font-size: clamp(20px, calc(20px + 8 * ((100vw - 320px) / 760)), 28px);
}
@media (min-width: 700px) {
    .second-content-container{
        flex-direction: row;
        padding: 50px 30px;
    }

    .first-content-container > div > img {
        display: none;
    }

    .first-content-container  > img {
        display: block;
        float: left;
        width: min(50%,364px);
    }

    .second-content-container {
        gap: 15%;
    }

    .second-content-container > div {
        width: 40%;
        row-gap: 20px;
    }
    .first-content-container{
        margin-left: 60px;
        margin-bottom: 40px;
    }
}