/* .red-rectangle {
    background-color: red;
    width: clamp(300px, calc);
}
 */


.lgpd {
    width: calc(100%-40px);
    padding: 0 20px;
}

.outer-text {
    margin: 10px;
}

.lgpd > div {
    margin: 20px 0;
}

.fale-conosco-link {
    color: #F7BF0A;
    font-weight: 700;
    text-decoration: underline;
    transition: all .2s ease-in-out;
}
.fale-conosco-link:hover{ 
    color: #D6A508;
}

.wrapper-data-lgpd {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.v-btn-wrapper {
    border: none;
    /* border: none; */
    position: relative;
    min-width: 40px;
    min-height: 40px;
    background-color: blue;
    border-radius: 50%;
    margin: 10px 30px;
}

.v-btn {
    background-color: white;
    width: 12px;
    height: 3px;
    position: absolute;
    transition: all ease-in-out 0.4s;
}

.v-right{
    top: 50%;
    right: 50%;
}

.v-middle {
    transform: rotate(90deg) translateY(2px);
    /* width: 24px; */
    width: 20px;
    opacity: 1;
    background-color: white;
    top: 50%;
    right: 20%;
}

.v-left {
    top: 50%;
    left: 50%;
}

/* .v-right.aberto {
    width: 16px;
    transform: translateX(3px) rotate(45deg);
} */

.v-middle.aberto {
    /* width: 5.5px; */
    opacity: 0;
}

/* .v-left.aberto {
    width: 16px;
    transform: translateX(-3px) rotate(-45deg);
} */

.data-box {
    border: 0px solid black;
    max-height: 0;
    transition: all 0.5s ease-in-out;
    line-height: 125%;
    overflow: hidden;
}

.data-box.aberto {
    border: 1px solid black;
}

.adm-data {
    list-style-type: disc;
}

.adm-data.aberto {
    max-height: 490px;
}

.adm-data > li {
    margin: 4px 0px 2px 40px;
}

.cookies > p {
    margin: 20px;
}

.cookies.aberto {
    max-height: 300px;
}




/* Texto */
.lgpd > h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #001489;
    font-weight: 700;
}

.lgpd > h3 {
    margin: 15px 0 10px;
    font-size: 18px;
    color: #001489;
    font-weight: 700;
}

.lgpd > p {
    font-size: 16px;
    line-height: 125%;
}

.lgpd > ul {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 125%;
}