.come-make-history {
    width: calc(100%-40px);
    padding: 0 20px;
}

.first-content-container > picture {
    max-width:calc(100px + 30 * ((100vw - 320px) / 400));
    max-height: calc(160px + 30.5 * ((100vw - 320px) / 400));

}

.first-content-container > picture > img{
    width: 100%;
    height: 100%;
}

.come-make-history > div {
    display: flex;
}

.first-content-container > div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.first-content-container > div > h1 {
    line-height: 112.5%;
    /* font-size: 1rem; */
    font-weight: bold;
    color: #001489; 
}

.first-content-container > div > p {
    line-height: 125%;
    margin: 10px 0;
}

.come-make-history > div > div > a {
    align-self: center;
    text-align: center;
    padding:  clamp(7px,5%, 15px) clamp(7px,10%, 25px);
    width: fit-content;
    text-decoration: none;
    font-size: clamp(10px, calc(10px + 14 * ((100vw - 320px) / 760)), 24px);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;   
    color: white;
    background-color: #0A2EEF;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.come-make-history > div > div > a:hover {
    background-color: #2445ff;
    color: #dbdada;
}

.second-content-container {
    margin: 0 -20px;
    margin-top: 10px;
    height: fit-content;
    padding: 20px 20px;
    background-color: #6668DA;
    color: white;
    justify-content: space-between;
}

.second-content-container > div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 45%;
}

.second-content-container > div > h1 {
    /* font-size: 0.875rem; */
    font-weight: bold;
    min-height: 28px;
}

.second-content-container > div > p {
    /* font-size: 0.625rem; */
    min-height: 30px;
}

.come-make-history > div > div > p {
    font-size: calc(10px + 12 * ((100vw - 320px) / 760))
}

.first-content-container > div > h1 {
    font-size: clamp(16px, calc(16px + 16 * ((100vw - 320px) / 760)), 32px);
}

.second-content-container > div > p {
    margin: calc(10px + 20 * ((100vw - 320px) / 760)) 0
}

.second-content-container > div > h1 {
    font-size: clamp(14px, calc(14px + 14 * ((100vw - 320px) / 760)), 28px);
}

@media (min-width: 720px) {
    .first-content-container > picture {
        max-width:calc(300px + 80 * ((100vw - 720px) / 360));
        max-height: calc(260px + 80 * ((100vw - 720px) / 360));

        
    }
    
}