@import url('./formatCarousel.css');

.carrossel-img{
    width: 120vw;
    margin-top: 100px;
}
.caneta-azul{
    height: 131px;
    background-color: #A4A5FF;
    margin-top: -14px;
    background-image: url('../assets/fundo-germinare.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.header{
    z-index: 100;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    background: #001489;
    height: 134px;
    padding: 38px 26px;
    box-shadow: 0px 5px 15px rgb(12, 1, 65);
}
.logo{
    height: 65px;
}
.navigation{
    margin-left: auto;
    width: 68%;
}
.menu{
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.item-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    font-size: 22px;
}
.about-us{
    display: none;
}
.collaborator{
    display: none;
}
