.gov {
    width: calc(100%-40px);
    padding: 0 20px;
}

.gov > p {
    margin-bottom: 20px;
}

.gov > div {
    display: flex;
    justify-content: space-between;
}

.gov > div > img {
    object-fit: cover;
}

.gov > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gov > div > div > a{
    color: #F7BF0A;
    text-decoration: underline;
    font-weight: 700;
}